<div id="bodyContainer">
    <div class="cardContainer">
        <div class="card" ng-repeat="item in maintenanceSummary">
            <div class="summaryItem">{{item.ForMonth}}</div>
            <table>
                <tr>
                    <th class="receivedHeader">Received</th>
                    <th class="expenditureHeader">Expenses</th>
                </tr>
                <tr>
                    <td class="totalAmountReceived" ng-click="maintSummaryClick(item.ForMonth)">&#x20B9;{{item.TotalReceived}}</td>
                    <td class="totalAmountExpenditure" ng-click="maintExpensesClick(item.ForMonth)">&#x20B9;{{item.TotalSpent}}</td>
                </tr>
            </table>
        </div>
    </div>
</div>